.wrap {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.time {
    font-size: 3rem;
    font-weight: lighter;
    > span {
        font-weight: bold;
    }
}

.clock {
    font-size: 3rem;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}